build
build_debug
.vscode


logs/
result/

*babiasdso.txt
*bagravdir.txt
*bavel.txt
*coarsebiasdso.txt
*pcl_data_tmp.pcd
*scalesdso.txt
*calibLog.txt
*coarseTrackingLog.txt
*diagonal.txt
*eigenAllLog.txt
*eigenALog.txt
*eigenPLog.txt
*nullspacesLog.txt
*run*.sh
